<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Tarot</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="vue.js"></script>
<!--<script type="text/javascript" src="vue.min.js"></script>-->
<script type="text/javascript" src="tarot.js"></script>
<style type="text/css">
.warn {
	background-color: #ED1C24;
	font-size: 1.2em;
}
.bold {
	font-weight: bold !important;
}
</style>
</head>
<body id="app">

<div class="row">
    <!-- navigation -->
    <div>
        <ul id="dropdown1" class="dropdown-content">
            <li v-for="(index, partie) in parties" track-by="$index"><a v-on:click="change_page(index+1)">Partie n°{{ index+1 }}</a></li>
        </ul>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Tarot</a>
                <ul class="right" v-show="page !== 0">
                    <li><a v-on:click="change_page('scores')">Scores</a></li>
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown1">Parties<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                </ul>
            </div>
            <div class="nav-content" v-show="page > 0">
                <span class="nav-title">Partie n°{{ page }}</span>
                <a v-show="page == parties.length" v-on:click="change_page(page+1)" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </nav>
    </div>
    <!-- /navigation -->

    <!-- joueurs -->
    <div class="type-interior col s12" id="joueurs" v-show="page == 0">
        <div>
            <h1>Joueurs</h1>
        </div><!-- /header -->
        <div>
            <div id="fieldjoueurs">
                <div data-role="fieldcontain" v-for="(index, joueur) in joueurs" track-by="$index">
                    <label for="joueur_{{ index+1 }}">Joueur {{ index+1 }}</label>
                    <input type="text" id="joueur_{{ index+1 }}" v-model="joueur"/>
                </div>
            </div>
            <a class="waves-effect waves-light btn" v-on:click="add_player">Ajouter un joueur</a>
        </div><!-- /content -->

        <a class="waves-effect waves-light btn" v-on:click="start">Commencer</a>
    </div>
    <!-- /joueurs -->

    <!-- scores -->
    <div id="scores" class="col s12" v-show="page == 'scores'">
        <div>
            <h1>Scores</h1>
        </div><!-- /header -->
        <div>
            <table class="striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th v-for="joueur in joueurs" track-by="$index">{{joueur}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(index, score) in scores" track-by="$index">
                        <td>Partie n°{{ index+1 }}</td>
                        <td v-for="score_col in score" track-by="$index" v-bind:class="{ 'bold': score_col.apris }">{{score_col.score}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr></tr>
                        <td>Total</td>
                        <td v-for="score_col in scoretotal" track-by="$index" v-bind:class="{ 'bold': ismax(score_col, scoretotal) }">{{score_col}}</td>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /content -->
    </div>


    <!-- parties -->
    <div class="partie col s12" id="partie_{{ partien }}" v-for="(partien, partie) in parties" track-by="$index" v-show="page == partien+1">
        <div>
            <!-- Qui à pris ? -->
            <joueurs label="Qui à pris ?" id="quiapris" :parent-model.sync="partie.quiapris" :joueurs="joueurs"></joueurs>
            <!-- Qui est appelé ? -->
            <joueurs label="Qui est appelé ?" id="avecquelappele" :parent-model.sync="partie.avecquelappele" :joueurs="joueurs"></joueurs>
            <!-- Quel contrat ? -->
            <div class="input-field col s12">
                <select v-model="partie.quelcontrat" v-select number>
                    <option value="1">Petite</option>
                    <option value="2">Garde</option>
                    <option value="4">Garde sans</option>
                    <option value="6">Garde contre</option>
                </select>
                <label>Quel contrat ?</label>
            </div>
            <!-- Points comptés attaque -->
            <div class="input-field col s12">
                <input placeholder="91" type="number" min="0" max="91" v-model="partie.pointscomptesattaque">
                <label>Points comptés attaque</label>
            </div>
            <!-- Nombre de bouts faits ? -->
            <div class="input-field col s12">
                <input placeholder="3" type="number" min="0" max="3" v-model="partie.nombredeboutsfaits">
                <label>Nombre de bouts faits ?</label>
            </div>
            <!-- Petit mené au bout par ? -->
            <joueurs label="Petit mené au bout par ?" id="petitmeneauboutpar" :parent-model.sync="partie.petitmeneauboutpar" :joueurs="joueurs"></joueurs>
            <!-- Poignée 1 annoncée par ? -->
            <joueurs label="Poignée 1 annoncée par ?" id="poignee1annonceepar" :parent-model.sync="partie.poignee1annonceepar" :joueurs="joueurs"></joueurs>
            <!-- Type de poignée 1 ? -->
            <div class="input-field col s12">
                <select v-model="partie.typedepoignee1" v-select number>
                    <option value="20">Simple</option>
                    <option value="30">Double</option>
                    <option value="40">Triple</option>
                </select>
                <label>Type de poignée 1 ?</label>
            </div>
            <joueurs label="Poignée 2 annoncée par ?" id="poignee2annonceepar" :parent-model.sync="partie.poignee2annonceepar" :joueurs="joueurs"></joueurs>
            <!-- Type de poignée 2 ? -->
            <div class="input-field col s12">
                <select v-model="partie.typedepoignee2" v-select number>
                    <option value="20">Simple</option>
                    <option value="30">Double</option>
                    <option value="40">Triple</option>
                </select>
                <label>Type de poignée 2 ?</label>
            </div>
            <!-- Chelem annoncé par ? -->
            <joueurs label="Chelem annoncé par ?" id="chelemannoncepar" :parent-model.sync="partie.chelemannoncepar" :joueurs="joueurs"></joueurs>
            <!-- Chelem réalisé par ? -->
            <joueurs label="Chelem réalisé par ?" id="chelemrealisepar" :parent-model.sync="partie.chelemrealisepar" :joueurs="joueurs"></joueurs>
        </div><!-- /content -->

    </div>
</div>
<!-- /parties -->
<script type="text/javascript" src="materialize.min.js"></script>
</body>
</html>