<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Tarot</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="jquery-mobile.min.css" type="text/css" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="jquery-mobile.min.js"></script>
<!-- <script type="text/javascript" src="vue.js"></script> -->
<script type="text/javascript" src="vue.min.js"></script>
<script type="text/javascript" src="tarot.js"></script>
<style type="text/css">
.message-dismiss {
    padding-left: 0.5em;
    font-weight: normal;
    color: #555;
}
.message-container {
    padding: 0.5em;
    line-height: 1em;
}
.message-container p {
    padding: 0 1em;
}
.message-container p .ui-icon {
    margin-right: .3em;
}
.table-scores thead th,
.table-scores tbody tr:last-child {
	border-bottom: 1px solid #d6d6d6;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.table-scores tbody th,
.table-scores tbody td {
	border-bottom: 1px solid #e6e6e6;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	font-weight: normal;
}
.table-scores tbody tr:last-child th,
.table-scores tbody tr:last-child td {
	border-bottom: 0;
}
.table-scores tbody tr:nth-child(odd) td,
.table-scores tbody tr:nth-child(odd) th {
	background-color: #eeeeee;
	background-color: rgba(0, 0, 0, .04);
}
.warn {
	color: #ED1C24;
	font-size: 1.2em;
}
.bold {
	font-weight: bold !important;
}
</style>
</head>
<body id="app">
<!-- joueurs -->
<div data-role="page" class="type-interior" id="joueurs">
	<div data-role="header">
		<h1>Joueurs</h1>
	</div><!-- /header -->
	<div data-role="content">
		<div id="fieldjoueurs">
			<div data-role="fieldcontain" v-for="(index, joueur) in joueurs" track-by="$index">
				<label for="joueur_{{ index+1 }}">Joueur {{ index+1 }}</label>
				<input type="text" id="joueur_{{ index+1 }}" v-model="joueur"/>
			</div>
		</div>
		<a href="#" class="ui-btn ui-btn-inline ui-icon-plus ui-btn-icon-left" v-on:click="add_player">Ajouter un joueur</a>
	</div><!-- /content -->
	<div data-role="footer" data-position="fixed">
		<h3><a style="float:right;" data-role="button" data-icon="arrow-r" data-inline="true" v-on:click="start">Commencer</a></h3>
	</div><!-- /footer -->
</div>
<!-- /joueurs -->

<!-- scores -->
<div data-role="page" class="type-interior" id="scores">
	<div data-role="header">
		<h1>Scores</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-id="navbar_parties_scores">
	<ul>
		<li><a data-rel="back">Parties</a></li>
		<li><a class="ui-btn-active ui-state-persist">Scores</a></li>
	</ul>
	</div><!-- /navbar -->
	<div data-role="content">
		<table data-role="table" data-mode="reflow" class="table-scores ui-responsive">
			<thead>
				<tr>
					<th v-for="joueur in joueurs" track-by="$index">{{joueur}}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="score in scores" track-by="$index">
					<td v-for="score_col in score" track-by="$index" v-bind:class="{ 'bold': score_col.apris }">{{score_col.score}}</td>
				</tr>
			</tbody>
		</table>
	</div><!-- /content -->
	<div data-role="footer" data-position="fixed">
		<table data-role="table" data-mode="reflow" class="table-scores ui-responsive">
			<thead>
				<tr>
					<th v-for="joueur in joueurs" track-by="$index">{{joueur}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="score_col in scoretotal" track-by="$index" v-bind:class="{ 'bold': ismax(score_col, scoretotal) }">{{score_col}}</td>
				</tr>
			</tbody>
		</table>
	</div><!-- /footer -->
</div>
<!-- /scores -->

<!-- parties -->
<div data-role="page" class="type-interior partie" id="partie_{{ partie.n }}" v-for="partie in parties" track-by="n">
	<div data-role="header">
		<a data-icon="arrow-l" v-on:click="change_page(partie.n-1)" v-show="partie.n > 1">Partie n°{{ partie.n-1 }}</a>
		<h1>Partie n°{{ partie.n }}</h1>
		<a data-icon="arrow-r" data-iconpos="right" v-on:click="change_page(partie.n+1)">Partie n°{{ partie.n+1 }}</a>
	</div><!-- /header -->
	<div data-role="navbar" data-id="navbar_parties_scores">
	<ul>
		<li><a class="ui-btn-active ui-state-persist">Parties</a></li>
		<li><a href="#scores">Scores</a></li>
	</ul>
	</div><!-- /navbar -->
	<div data-role="content">
		<div data-role="fieldcontain"> <!-- Qui à pris ? -->
			<label for="quiapris_{{ partie.n }}" class="select">Qui à pris ?</label>
			<joueurs id="quiapris" :n="partie.n" :parent-model.sync="partie.quiapris" :joueurs="joueurs"></joueurs>
		</div>
		<div data-role="fieldcontain" v-if="joueurs.length == 5"> <!-- Qui est appelé ? -->
			<label for="avecquelappele_{{ partie.n }}" class="select">Qui est appelé ?</label>
			<joueurs id="avecquelappele" :n="partie.n" :parent-model.sync="partie.avecquelappele" :joueurs="joueurs"></joueurs>
		</div>
		<div data-role="fieldcontain"> <!-- Quel contrat ? -->
			<label for="quelcontrat_{{ partie.n }}" class="select">Quel contrat ?</label>
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
				<input type="radio" name="quelcontrat_{{ partie.n }}" id="quelcontrat_{{ partie.n }}_petite" v-model="partie.quelcontrat" checked="checked" value="1" v-jqm-radio>
				<label for="quelcontrat_{{ partie.n }}_petite">Petite</label>
				<input type="radio" name="quelcontrat_{{ partie.n }}" id="quelcontrat_{{ partie.n }}_garde" v-model="partie.quelcontrat" value="2" v-jqm-radio>
				<label for="quelcontrat_{{ partie.n }}_garde">Garde</label>
				<input type="radio" name="quelcontrat_{{ partie.n }}" id="quelcontrat_{{ partie.n }}_gardesans" v-model="partie.quelcontrat" value="4" v-jqm-radio>
				<label for="quelcontrat_{{ partie.n }}_gardesans">Garde sans</label>
				<input type="radio" name="quelcontrat_{{ partie.n }}" id="quelcontrat_{{ partie.n }}_gardecontre" v-model="partie.quelcontrat" value="6" v-jqm-radio>
				<label for="quelcontrat_{{ partie.n }}_gardecontre">Garde contre</label>
			</fieldset>
		</div>
		<div data-role="fieldcontain"> <!-- Petit mené au bout par ? -->
			<label for="petitmeneauboutpar_{{ partie.n }}" class="select">Petit mené au bout par ?</label>
			<joueurs id="petitmeneauboutpar" :n="partie.n" :parent-model.sync="partie.petitmeneauboutpar" :joueurs="joueurs"></joueurs>
		</div>
		<div data-role="fieldcontain"> <!-- Nombre de bouts faits ? -->
			<label for="nombredeboutsfaits_{{ partie.n }}" class="select">Nombre de bouts faits ?</label>
			<input type="number" id="nombredeboutsfaits_{{ partie.n }}" min="0" max="3" v-model="partie.nombredeboutsfaits">
		</div>
		<div data-role="fieldcontain"> <!-- Points comptés preneur -->
			<label for="pointscomptespreneur_{{ partie.n }}" class="select">Points comptés preneur (todo switch defense)</label>
			<input type="number" id="pointscomptespreneur_{{ partie.n }}" min="0" max="91" v-model="partie.pointscomptespreneur">
		</div>
		<div data-role="fieldcontain"> <!-- Poignée 1 annoncée par ? -->
			<label for="poignee1annonceepar_{{ partie.n }}" class="select">Poignée 1 annoncée par ?</label>
			<joueurs id="poignee1annonceepar" :n="partie.n" :parent-model.sync="partie.poignee1annonceepar" :joueurs="joueurs"></joueurs>
		</div>
		<div data-role="fieldcontain"> <!-- Type de poignée 1 ? -->
			<label for="typedepoignee1_{{ partie.n }}" class="select">Type de poignée 1 ?</label>
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			    <input type="radio" name="typedepoignee1_{{ partie.n }}" id="typedepoignee1_{{ partie.n }}_simple" v-model="partie.typedepoignee1" value="20">
			    <label for="typedepoignee1_{{ partie.n }}_simple">Simple</label>
			    <input type="radio" name="typedepoignee1_{{ partie.n }}" id="typedepoignee1_{{ partie.n }}_double" v-model="partie.typedepoignee1" value="30">
			    <label for="typedepoignee1_{{ partie.n }}_double">Double</label>
			    <input type="radio" name="typedepoignee1_{{ partie.n }}" id="typedepoignee1_{{ partie.n }}_triple" v-model="partie.typedepoignee1" value="40">
			    <label for="typedepoignee1_{{ partie.n }}_triple">Triple</label>
			</fieldset>
		</div>
		<div data-role="fieldcontain"> <!-- Poignée 2 annoncée par ? -->
			<label for="poignee2annonceepar_{{ partie.n }}" class="select">Poignée 2 annoncée par ?</label>
			<joueurs id="poignee2annonceepar :n="partie.n"" :parent-model.sync="partie.poignee2annonceepar" :joueurs="joueurs"></joueurs>
		</div>
		<div data-role="fieldcontain"> <!-- Type de poignée 2 ? -->
			<label for="typedepoignee2_{{ partie.n }}" class="select">Type de poignée 2 ?</label>
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			    <input type="radio" name="typedepoignee2_{{ partie.n }}" id="typedepoignee2_{{ partie.n }}_simple" v-model="partie.typedepoignee2" value="20">
			    <label for="typedepoignee2_{{ partie.n }}_simple">Simple</label>
			    <input type="radio" name="typedepoignee2_{{ partie.n }}" id="typedepoignee2_{{ partie.n }}_double" v-model="partie.typedepoignee2" value="30">
			    <label for="typedepoignee2_{{ partie.n }}_double">Double</label>
			    <input type="radio" name="typedepoignee2_{{ partie.n }}" id="typedepoignee2_{{ partie.n }}_triple" v-model="partie.typedepoignee2" value="40">
			    <label for="typedepoignee2_{{ partie.n }}_triple">Triple</label>
			</fieldset>
		</div>
		<div data-role="fieldcontain"> <!-- Chelem annoncé par ? -->
			<label for="chelemannoncepar_{{ partie.n }}" class="select">Chelem annoncé par ?</label>
			<joueurs id="chelemannoncepar" :n="partie.n" :parent-model.sync="partie.chelemannoncepar" :joueurs="joueurs"></joueurs>
		</div>
		<div data-role="fieldcontain"> <!-- Chelem réalisé par ? -->
			<label for="chelemrealisepar_{{ partie.n }}" class="select">Chelem réalisé par ?</label>
			<joueurs id="chelemrealisepar" :n="partie.n" :parent-model.sync="partie.chelemrealisepar" :joueurs="joueurs"></joueurs>
		</div>
	</div><!-- /content -->
	
</div>
<!-- /parties -->
<!-- error -->
<div id="error" data-role="page" data-dialog="true">
	<div data-role="header">
		<h2>Erreur</h2>
	</div>
	<div class="ui-content" role="main">
    	<div class="warn"></div>
    </div>
</div>
<!-- /error -->
</body>
</html>
